{% extends 'pcatapp/base.html' %}
{% block page_title %}About PharmSchoolSearch{% endblock %}
{% block page_style %}
<style>

about{
	display: block;
	position: relative;
	background: #f3f7f7;
	width: 100%;
}
#about_container{
	width: 84%;
	margin: 0 auto;
	position: relative;
	padding: 50px 0;
}

about h3{
	color: #5c8b9f;
	font-weight: 300;
	font-size: 24px;
	margin: 0;
}
about p{
	color: #666;
	font-weight: 300;
	font-size: 16px;
	margin-top: 14px;
	line-height: 22px;	
}
@media all and (min-width: 0px) and (max-width: 768px){

	#about_container{
		width: 90%;
		margin: 0 auto;
		position: relative;
		padding: 40px 0;
	}


}
@media all and (min-width: 1200px) {

	#about_container{
		width: 60% !important;

	}


}
</style>
{% endblock %}

{% block page_content %}

			<about>
				<div id="about_container">
					<div class="results_table" >
<h3>About</h3>
						<p>
						PharmSchoolSearch is a user-friendly, self-researched database which assists prospective pharmacy school students to find their perfect pharmacy school. It allows them to search schools using various criteria intending to provide applicants the information to evaluate their chances in the upcoming admissions cycle. We hope to give applicants meaningful information in a simple presentation so they can get to focusing on the important things like applications and essays. We aim to present the latest information by continuously compiling and updating our database, and reviewing all feedback to provide the best user-experience possible.
							</p>
					            </div>



			</div>
			</about>
			
			
			{% endblock %}
		
