{% extends 'pcatapp/base.html' %}
{% block page_title %}PharmSchoolSearch FAQs{% endblock %}
{% block page_style %}
<style>

about{
	display: block;
	position: relative;
	background: #f3f7f7;
	width: 100%;
}
#about_container{
	width: 84%;
	margin: 0 auto;
	position: relative;
	padding: 50px 0;
}

about h3{
	color: #5c8b9f;
	font-weight: 300;
	font-size: 24px;
	margin: 0;
}
about p{
	color: #666;
	font-weight: 300;
	font-size: 16px;
	margin-top: 14px;
	line-height: 22px;	
}
@media all and (min-width: 0px) and (max-width: 768px){

	#about_container{
		width: 90%;
		margin: 0 auto;
		position: relative;
		padding: 40px 0;
	}


}
@media all and (min-width: 1200px) {

	#about_container{
		width: 60% !important;

	}


}
</style>
{% endblock %}

{% block page_content %}

			<about>
				<div id="about_container">
					<div class="results_table" >
<h2>FAQ</h2>
						<p>
<h3><a href="#general">General</a></h3><br/>
<a href="#q1">How do I use this service?</a><br/>
<a href="#q2">What costs does the tuition take into account?</a><br/>
<a href="#q3">Why are the in-state and out-of-state tuitions the same for some schools?</a><br/>
<a href="#q4">Does PharmSchoolSearch include all pharmacy schools worldwide?</a><br/>
<a href="#q5">How often does the PharmSchoolSearch database get updated?</a><br/>
<a href="#q6">What does the PCAT parameter signify?</a><br/>
<a href="#q7">How was the ranking of the schools determined?</a><br/>
<a href="#q8">Where was the data collected from? How reliable is it?</a><br/>
<a href="#q9">Where does my mail go using the school’s physical address given?</a><br/>
<a href="#q10">Whose phone number is provided?</a><br/>
<a href="#q11">Whose email address is provided?</a><br/>
<a href="#q12">I'm in high school and using PharmSchoolSearch to find my potential pharmacy school. How do I use the site?</a><br/>
<br/>


<h3><a href="#searching">Searching</a></h3><br />
<a href="#q13">How does the search algorithm work and what do the results mean?</a><br/>
<a href="#q14">When I perform an advanced search, why do the results no longer display stars next to the schools?</a><br/>
<a href="#q15">If I check more than one accreditation filter, why does this make my results disappear?</a><br/>
<a href="#q16">Why do some schools have a "0" in PCAT and/or GPA? Does this affect the search results?</a><br/>
<a href="#q17">How does the distance function work in the advanced search box?</a><br/>
<a href="#q18">How do I search for schools that do not need a supplemental application?</a><br/>
<br/>

<h3><a href="#accounts">Accounts/Logging In</a></h3><br />
<a href="#q19">What are the benefits of creating an account?</a><br/>
<br/>
<h3><a href="#inquiries">Other Inquiries</a></h3><br />
<a href="#q20">If a school does not have a three year program, would it still have an accelerated program?</a><br/>
<a href="#q21">If a school does not have a dual degree program, can I still pursue another degree while getting the Pharm.D.?</a><br/>
<a href="#q22">Is there a way I can pursue the Pharm.D. degree online?</a><br/>  
<a href="#q23">Does PharmSchoolSearch have an app?</a><br/>
<br/>

<a name="general"></a><h3>General</h3><br/>
<a name="q1"></a><strong>How do I use this service?</strong><br />
Users have the option of searching a specific school using the "Search by Name" tab or entering their credentials such as GPA, PCAT score, price range in tuition, etc. to find the optimized match for your future pharmacy school using our unique algorithm within the "School Matcher." Users can also view all the pharmacy schools in the country by simply hitting the "Search" button in the "Search by Name" tab.<br />

<br />
<a name="q2"></a><strong>What costs does the tuition take into account?</strong><br />

The tuition displayed is an ESTIMATE of annual costs for the upcoming academic year which may include only the tuition or the tuition and associated mandatory fees.<br />

<br />

<a name="q3"></a><strong>Why are the in-state and out-of-state tuitions the same for some schools?</strong><br />
They are private pharmacy schools.<br />

<br />

<a name="q4"></a><strong>Does PharmSchoolSearch include all pharmacy schools worldwide?</strong><br/>

The PSS database only contains schools in the US. <br />
<br />


<a name="q5"></a><strong>How often does the PharmSchoolSearch database get updated?</strong><br/>

We will try to provide the latest information and update the database before the start of every school year.<br/>
<br/>

<a name="q6"></a><strong>What does the PCAT parameter signify?</strong><br/>

The PCAT is the overall minimum score the school considers when looking at your application. Meeting this score does not guarantee your acceptance. <br/>
<br/>



<a name="q7"></a><strong>How was the ranking of the schools determined?</strong><br/>
PSS uses the U.S. News rankings. Their most recent ranks were determined in 2012; however, they no longer rank pharmacy schools. <br/>
<br/>

<a name="q8"></a><strong>Where was the data collected from? How reliable is it?</strong><br/>

All of the data was collected from either the PharmCAS school pages or directly from the school’s website. <br/>
<br/>

<a name="q9"></a><strong>Where does my mail go using the school’s physical address given?</strong><br/>

All addresses in the database are primarily for the school’s admissions office. Your mail will usually get redirected for other departments but it’s best to check with the school’s website. <br/>
<br/>

<a name="q10"></a><strong>Whose phone number is provided?</strong><br/>
All phone numbers provided are for the admissions office or one of the admissions counselors for the school. <br/>
<br/>

<a name="q11"></a><strong>Whose email address is provided?</strong><br/>

All emails provided are for the admissions office or one of the admissions counselors for the school.<br/>
<br/>
<a name="q12"></a><strong>I'm in high school and using PharmSchoolSearch to find my potential pharmacy school. How do I use the site?</strong><br/>

When entering your GPA, use your unweighted GPA in the search box. High school students typically haven’t taken their PCAT so you can leave that field blank. <br/>
<br/>






<a name="searching"></a><h3>Searching</h3><br/>


<a name="q13"><strong>How does the search algorithm work and what do the results mean?</strong><br/>

When users input their credentials, their information is matched against our database to optimize the results. The search algorithm uses a function to match on either GPA, PCAT, or Location to present the results to users.<br/>
<br/>
For GPA, the search algorithm uses the average of the minimum and expected GPA. If your GPA is greater than or equal to this average, the school will show on your results page.<br/>
<br/>
For Location, the search algorithm provides a list of schools within 150 miles radius from the city and state.<br/>
<br/>
Schools matching or exceeding two of the entered criteria (i.e. GPA and PCAT, GPA and Location, etc.) will show in the results at the top with a ★ next to them listed in rank order or alphabetically for the unranked schools. This means the student has a higher chance of getting into these respective schools. If their criteria only match one of the parameters, they will be listed under the stars in rank order or alphabetically for the unranked schools.<br/>
<br/>
<a name="q14"></a><strong>When I perform an advanced search, why do the results no longer display stars next to the schools? </strong><br/>

When the user performs an advanced search, PSS combs through the entire database again trying to match the parameters they entered. Unlike the initial search, the advanced search uses an “AND” function, where the GPA and PCAT (and all other filters) must match to be displayed. Consequently, the stars are not necessary because the new refined results will only match the criteria entered in allowing the user to choose which schools are best for themselves. <br/>
<br/>

<a name="q15"></a><strong>If I check more than one accreditation filter, why does this make my results disappear?</strong><br/>
Only one of the three accreditation filters should be checked at a time.<br/>
<br/>

<a name="q16"></a><strong>Why do some schools have a "0" in PCAT and/or GPA? Does this affect the search results?</strong><br/>

As you look through the database and search results, you will see GPAs and/or PCAT scores showing as “0” in some cases. This means the pharmacy school either does not have reported statistics for these parameters or they are not required. In this instance, the algorithm will ignore the given parameter when trying to find a match (e.g. if a school has a "0" for PCAT, your PCAT score will not be considered).<br/>
<br/>

If a school has a "0" in both GPA parameters, the search algorithm will match the school only if the user has a GPA of 2.0 or higher. <br/>
<br/>
<a name="q17"></a><strong>How does the distance function work in the advanced search box?</strong><br/>

If you are using the distance filter in the advanced search, please ensure to put your city and state. <br/>
<br/>
<a name="q18"></a><strong>How do I search for schools that do not need a supplemental application?</strong><br/>

Leaving supplemental application unchecked in the advanced search will show schools that both require and do not require a supplemental application. Having this box checked will show only schools that do require the supplemental application.<br/>
<br/>
<a name="accounts"></a><h3>Accounts/Logging In</h3><br/>

<a name="q19"></a><strong>What are the benefits of creating an account?</strong><br/>
Creating an account will allow you to save schools you're interested in as "Favorites." This is done by clicking a school's name and clicking "Add Favorite" or the little heart icon on the iOS app. The list of favorites will be automatically synced between the website and app so you will have all the information you need wherever you are. <br/>
<br/>

<a name="inquiries"></a><h3>Other Inquiries</h3><br/>

<a name="q20"></a><strong>If a school does not have a three year program, would it still have an accelerated program?</strong><br/>

Schools that do not have a three year program might still have an accelerated curriculum. While PSS labels these schools as not having a three year program, please check with the school's website for more information.<br/>
<br/>

<a name="q21"></a><strong>If a school does not have a dual degree program, can I still pursue another degree while getting the Pharm.D.?</strong><br/>

Schools that do not have a dual degree program might still have a curriculum where you can obtain a second degree concurrently. However, they do not consider this as being a dual degree program. Please check with the school's website for more information.<br/>
<br/>

<a name="q22"></a><strong>Is there a way I can pursue the Pharm.D. degree online?</strong><br/>

Yes, these schools are included in the database.<br/>
<br/>

<a name="q23"></a><strong>Does PharmSchoolSearch have an app?</strong><br/>

Yes, we do have an app for that! Currently, it is only available to iOS users.<br/>


							</p>
					            </div>



			</div>
			</about>
			
			
			{% endblock %}
		
