{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block page_title %}PharmSchoolSearch Change Password{% endblock %}
{% block page_style %}
<style>
#search_box_content input, #user-form input, #signup_form input, #signup_form input, #reset_pass input{

	margin-left:25px;

}
#register_submit{
	margin-left: 405px !important;
}
label{
	width: 180px !important;
}
</style>
{% endblock %}
{% block page_content %}
    <h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
    
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="" class="uniForm">
                {% csrf_token %}
                {{ form.as_p }}
			  <button id="register_submit" type="submit">Submit</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
